html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
}
.onoffswitch {
    max-width: 200%;
    position: relative; width: 174px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    max-width: 200%;
    display: none;
}
.onoffswitch-label {
    max-width: 200%;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    max-width: 200%;
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SELECTED";
    padding-left: 10px;
    background-color: #008000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "CLICK TO SELECT";
    padding-right: 10px;
    background-color: #ff0000; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 140px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.test:before, .test:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.test:before {
    content: "SELECTED";
    padding-left: 10px;
    background-color: #008000; color: #FFFFFF;
}
.test:after {
    content: "CLICK TO SELECT";
    padding-right: 10px;
    background-color: #ff0000; color: #999999;
    text-align: right;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.nav-tabs > li:nth-child(1).active > a, .nav-tabs > li:nth-child(1).active > a:focus, .nav-tabs > li:nth-child(1).active > a:hover {
    outline: 0;
    color:#a94442;
    cursor: default;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-bottom-color: transparent;
}
.nav-tabs > li:nth-child(2).active > a, .nav-tabs > li:nth-child(2).active > a:focus, .nav-tabs > li:nth-child(2).active > a:hover {
    outline: 0;
    color: #8a6d3b;
    cursor: default;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-bottom-color: transparent;
}
.nav-tabs > li:nth-child(3).active > a, .nav-tabs > li:nth-child(3).active > a:focus, .nav-tabs > li:nth-child(3).active > a:hover {
    outline: 0;
    color: #31708f;
    cursor: default;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.nav-tabs > li:nth-child(4).active > a, .nav-tabs > li:nth-child(4).active > a:focus, .nav-tabs > li:nth-child(4).active > a:hover {
    outline: 0;
    color: #31708f;
    cursor: default;
    background-color: 	#9932CC;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.nav-tabs > li:nth-child(5).active > a, .nav-tabs > li:nth-child(5).active > a:focus, .nav-tabs > li:nth-child(5).active > a:hover {
    outline: 0;
    color: #31708f;
    cursor: default;
    background-color: 	#9932CC;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.nav-tabs > li:nth-child(6).active > a, .nav-tabs > li:nth-child(6).active > a:focus, .nav-tabs > li:nth-child(6).active > a:hover {
    outline: 0;
    color: #31708f;
    cursor: default;
    background-color: 	#9932CC;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}
.affix {
      top: 0;
      width: 100%;
      background-color: black
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

.button{
    background-color: #4d148c;
    padding: 8px 15px;
    border: inset;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 18px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border-width: thin;
    float: left;
}